.star-background_wrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	z-index: -1;
	.star-background-item {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: rgb(143, 143, 143);
		opacity: 0.5;
		box-shadow: 0px 0 16px rgba(155, 56, 150, 0.3);
		position: relative;
	}
}
