.bottom-navigator_container {
	z-index: var(--BottomNavigatorIndex);
	position: absolute;
	top: calc(100% - 48px);
	width: 100vw;
	max-width: 100%;
	overflow: hidden;
	.bottom-navigator_wrapper {
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		background-color: var(--tg-theme-bg-color);

		border-right: 2px solid var(--tg-theme-secondary-bg-color);
		border-left: 2px solid var(--tg-theme-secondary-bg-color);
		border-top: 2px solid var(--tg-theme-secondary-bg-color);
		padding: 1px 25px 0;
		.bottom-navigator_links {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			.bottom-navigator_link {
				&.bottom-navigator_link__active {
					.bottom-navigator_link-icon {
						fill: var(--primary-color);
					}
					.bottom-navigator_link-label {
						color: var(--primary-color);
					}
				}

				height: 45px;
				width: 45px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.bottom-navigator_link-icon {
					width: 45px;
					height: 40px;
					fill: var(--tg-theme-subtitle-text-color);
				}
				.bottom-navigator_link-label {
					width: 45px;
					font-weight: 500;
					font-size: var(--fontT);
					text-align: center;
					color: var(--tg-theme-subtitle-text-color);
				}
			}
		}
	}
}
